<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= siteTitle %> - <%= pageTitle %></title>
	<%- include('head'); %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
	<%- include('navbar'); %>
	<div id="content">


