#.gitignore

# 忽略 secret.yml 檔案
# secret.yml

# 忽略 config 目錄下的 database.yml 檔案
# config/database.yml

# 忽略所有 db 目錄下附檔名是 .sqlite3 的檔案
# /db/*.sqlite3

# 忽略所有附檔名是 .tmp 的檔案
# *.tmp

# 當然你要忽略自己也可以，只是通常不會這麼做
# .gitignore

#ignore performance ppt screen cap

#ignore node modules
/node_modules

#ignore error reports

#ignore keys
/certificate.crt
/ca_bundle.crt
/143_89_25_28.key
/143_89_25_28.csr
/61FFAA81038A95A2E65A8310D10276E5.txt
# mailing list
/mailingList.txt
