<%- include('../partials/header'); %>

            <h1 style="font-size: 100px; margin: 10px 0 0 0; font-weight: lighter;">home</h1>
            <hr>
        
            <h3>Welcome <%= name %></h3>
            <br>
            <% if (celllines.length > 0) { %>
                <h3>Cell types available on this database:</h3>
                    <% celllines.forEach(function(item){ %>
                        <p><%=item.Name %></p>
                    <%  }); %>
            <% }else{ %>
                <p><strong>There are no cell types available</strong></p>
            <% } %>
            <br>
            <br>
            <br>
            <h4><i>**Update: Now supports multi rsID search.</i></h4>
<%- include('../partials/footer'); %>
